# Test and backup files
test*
junk*
*~
*.bak
*.rar
*.log
__*
[א-ת]*
*.dump
Files/*
Misc/*
Regulations/*
older/*

# Credentials
wiki_credentials.txt
wiki_botconf.txt
.mediawiki*

# Various project files
.settings
.project
